<nav class="navbar navbar-expand-lg navbar-light">
  <a class="logo" routerLink="/home">Oliver Dragojević</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="link" routerLink="/home">Početna</a>
      </li>
      <li class="nav-item">
        <a class="link" routerLink="/about">Oliver</a>
      </li>
      <li class="nav-item">
        <a class="link" routerLink="/portfolio">Nagrade</a>
      </li>
      <li class="nav-item">
        <a class="link" routerLink="/pjesme">Pjesme</a>
      </li>	  
      <li class="nav-item">
        <a class="link" routerLink="/contact">Kontakt</a>
      </li>
    </ul>
  </div>
</nav>
