<h1>O kao Oliver</h1>
<p>
	Oliver Dragojević rođen je u Splitu, 7. prosinca 1947. godine u obitelji oca Marka i majke Kate Dragojević. 
	Bio je podrijetlom iz Vele Luke, gdje je proveo i djetinjstvo. U Splitu je pohađao glazbenu školu. 
</p>
<p>
	Najprije je učio glasovir, a zatim klarinet i gitaru. 
	Prvi susret s glazbom bio mu je u petoj godini kad je od oca Marka na poklon dobio usnu harmoniku kojom je zabavljao
	 djecu iz svoje ulice, te putnike na brodu na čestoj relaciji Split - Vela Luka. 
</p> 
<p>
	Prvi estradni nastup bio mu je na splitskom dječjem festivalu 1961. godine s popularnom pjesmom Baloni. 
	Istovremeno s bratom Aljošom snimio je tada poznate svjetske hitove za Radio Split.
</p>
<p>
	29. srpnja 2018. godine, u 2:00 sata ujutro, preminuo u 71. godini života, nakon jednogodišnje bitke s rakom pluća.
</p>
<div class="kontakt">
	Tekst preuzet (pogledaj opširnije) <a href="https://hr.wikipedia.org/wiki/Oliver_Dragojevi%C4%87" target="self">Wikipedia</a>
</div>
