<h1>Početna</h1>
<p>
	Ovo je stranica koja opisuje mene. Zapravo, govori nešto o mojem najdražem glazbeniku.
</p>	
<p>
	<strong>
		Zašto ne o sebi nego baš o mojem omiljenom glazbeniku?
	</strong>
</p>

<p>
	Baš sam danas čuo jedan vic o malom Ivici, o tome kako se spremao za usmeni iz bilogije.
</p>
<p>
	Vidio je koliko toga ima za naučiti, ali je vjerovao da bi mogao, ako ako se oko nečeg baš potrudi, dobiti dobru ocjenu ...
	i tako se mali Ivica odlučio kako će naučiti sve o mravima.
</p>	
<p>
	Kako ga je učiteljica pitala da joj kaže nešto o slonovima, mali Ivica se dosjetio i započeo sa sljedećom rečenicom: "Slon je velika ali dobra životinja koja nebi ni mrava zgazila" i nastavi o mravima ...
</p>
<p>
	Kako se nisam htio ponavljati, i ponovno pisati o sebi, odlučio sam napisati par stvari o velikom, zapravo najvećem Oliveru ...
</p>

